/* Customize StyleSheet */
.container{
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.card{
    width: 442px;
    height: 493px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* header */
.header{
    display: flex;
    padding-bottom: 12px;
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 20px;
}

.faculty-logo{
    margin-right: 15px;
}

.faculty-logo-img{
    width: 80px;
    height: 86px;
}

.faculty-label{
    margin: 10px 0;
}

.favorite-icon-img{
    width: 24px;
    height: 21px;
}

.faculty-label{
    flex: 1;
}

/* round */
.round{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.round-quota{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.circle-active{
    color: #fff;
    line-height: 1.7;
    text-align: center;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    background-color: #2ecc71;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 18.4px;
}

.circle-inactive{
    color: #fff;
    line-height: 1.7;
    text-align: center;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 18.4px;
}

/* detail */
.detail{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    margin-bottom: 30px;
}

.detail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.deatail-header-right{
    padding: 7px 8px 7px 20px;
    border-radius: 17.5px;
    border: solid 1px var(--grapefruit);
    outline: none !important;
}

.edit-icon-img{
    margin-left: 10px;
    width: 18px;
    height: 18px;
}

.detail-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.detail-center-left{
    padding-left: 30px;
}

.detail-center-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.detail-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 22px;
}

.other-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-border{
    height: 29px;
    width: 1.8px; 
    background-color: #d8d8d8;
}

/* score ratio */
.score-ratio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 22px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 14px solid#48b6a3;
    border-bottom: 9px solid transparent;
    margin-right: 18px;
}

/* interest */
.interest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.interest-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.user-icon-img{
    width: 12px;
    height: 12px;
    opacity: 0.5;
    margin-right: 10px;
}

.share-icon-img{
    width: 18px;
    height: 23px;
}